extends ../layouts/main-layout.pug

block content 
    h2 #{pageSubtitle}
    main
        if success
            include ../layouts/user-message.pug

        if orders.length
            for order in orders
                div Order id: #{order._id}
                    ul
                        for product in order.products
                            li
                                p  #{product.product.title} x #{product.quantity} 
                a(href=`/orders/${order._id}` rel="noopener noreferrer" target="_blank") Invoice
        else 
            h2 No orders to Display!