extends ../layouts/main-layout.pug

block content 
    h2 #{pageSubtitle}
    main
        if cartProducts.length 
            ul
                each product in cartProducts
                    li
                        p #{product.title} x #{product.cartItem.quantity}
                        div(style="display: flex;")
                            form(action="/cart-delete-product" method="POST")
                                input(type="hidden" name="cartDeleteId" value=`${product.id}`)
                                input(type="hidden" name="cartDeletePrice" value=`${product.price * product.quantity}`)
                                input(type="hidden" name="isDeleteAll" value="true")
                                button(class="btn" type="submit") X

                            form(action="/cart-delete-product" method="POST")
                                input(type="hidden" name="cartDeleteId" value=`${product.id}`)
                                input(type="hidden" name="cartDeletePrice" value=`${product.price}`)
                                button(class="btn" type="submit") -

            h2 Total price: $#{totalPrice}
        else
            h1 No products in cart!