extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/cart.css")

block content 
    h2 #{pageSubtitle}
    main
        if success
            include ../layouts/user-message.pug

        if cartProducts.length
            ul
                each product in cartProducts
                    li(class="cart_item")
                        div(class="cart_item_content")
                            div(class="cart_item_text")
                                p(class="cart_item_title") #{product.productId.title}
                                p(class="cart_item_price") Price (per unit): $#{product.productId.price}
                            img(src=`${product.productId.imageUrl}`, alt=`${product.productId.title} product image`)
                        div(class="cart_item_controls")
                            div
                                a(class="btn link" href=`/products/${product.productId._id}`) Details
            div(class="checkout_details")
                h3(class="total") Total price: $#{totalPrice}
            div
                button(id="order-button") Order
                script(src="https://js.stripe.com/terminal/v1/" )
                script(type="text/javascript").
                    const stripe = Stripe('sk_test_51IFXgfI7bWgkmmL4deebQsynH8A6B6gL7w7lhL5jm8eND7dhoYms6MMvEVhGoOmyhvwoixOGL4B57R4UctSTBKS500stv05ksb')
                    

        else
            h1 No products in cart!