extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/form.css")
    link(rel="stylesheet", href="/css/auth.css")

block content
    h2 #{pageSubtitle}
    main 
        form.login-form(action="/login", method="POST")
            each form in forms 
                .form-control
                    label(for=`${form.name}`) #{form.title}:
                    input(type=`${form.type}`, name=`${form.name}` placeholder=`${form.placeholder}`)
            button(type="submit") Sign In